html, body {
    cursor: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    width: 100%;
    min-height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}
#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Background color of the splash screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 1000; /* Ensures the splash screen is on top */
    font-size: 1.2em;
    color: white;
}
main {
    display: none;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    pre {
        color: white;
        z-index: 100;
    }
    #mediaContainer {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        z-index: -1;
        overflow: hidden;
        .plyr__video-wrapper {
            object-fit: cover;
        }
    }
}
#info {
    z-index: 10;
    color: white;
    position: absolute;
    left: 14px;
    bottom: 0;
}