html, body {
    cursor: none;
}
body {
    width: 100%;
    min-height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    p {
        color: white;
    }
}
#info {
    z-index: 10;
    color: white;
    position: absolute;
    left: 14px;
    bottom: 0;
}