* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2b3039;
}
main {
    display: flex;
    flex-direction: row;
    margin: 2em;
    height: 100vh;
    color: white;
    font-size: 24px;
    margin: 0;
    ol {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        list-style: none;
        #settingFont {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            #sectionSettings {
                display: flex;
                flex-direction: column;
                width: calc(100% / 2);
                gap: 8px;
                margin: 8px;
                select {
                    width: 100%;
                    font-size: 1.2em;
                }
                input {
                    width: 100%;
                    font-size: 1.2em;
                }
                button {
                    width: calc(100% / 2);
                }
            }
            #sectionPreview {
                display: flex;
                flex-direction: column;
                width: calc(100% / 2);
                gap: 8px;
                margin: 8px;
                textarea {
                    width: 100%;
                    height: 4em;
                    font-size: 1.2em;
                }
            }
        }
        #settingLocation {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
        }
        #settingMedia {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
        }
    }
}
.btn {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    color: black;
    &:hover {
        background-color: #f5f7f9;
    }
}
.btn:hover {
    background-color: #f5f7f9;
}