* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid white;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background: #50a3a2;
    background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.wrapper.form-success .container h1 {
    transform: translateY(85px);
    visibility: hidden;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.container h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-     put;
    font-weight: 200;
}
#mainControl {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 20px);
    background: linear-gradient(to bottom right, #2f2f2f 0, #17332f 100%);
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        width: 35px;
        background: #063f3f;
        border-right: 1px solid white;
        padding-top: 8px;
        padding-bottom: 8px;
        span {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .songs {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50% - (37px/2));
        background: black;
        border-right: 1px solid white;
        .searchContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: flex-end;
            align-items: center;
            input {
                width: calc(100% / 2);
            }
            span {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .tableSong {
            margin-top: 8px;
            thead {
                tr {
                    th {
                        background-color: #007f7e;
                    }
                }
            }
            tbody {
                background-color: grey;
                tr {
                    &:hover {
                        background: #ffee00;
                        color: black;
                        cursor: pointer;
                    }
                    td {
                        #iconDeleteSong {
                            &:hover {
                                color: red;
                            }
                        }
                        #iconEditSong {
                            &:hover {
                                color: blue;
                            }
                        }
                        #iconAddToService {
                            &:hover {
                                color: green;
                            }
                        }
                    }
                }
                tr.active {
                    background: #ffee00;
                    color: black;
                }
            }
        }
    }
    .resizer {
        width: 4px;
        background: gray;
        cursor: col-resize;
    }
    .live {
        display: flex;
        flex-direction: row;
        width: calc(100% - 50% - (37px/2));
        background: black;
        .clearLive {
            position: absolute;
            color: red;
            &:hover {
                cursor: pointer;
            }
        }
        .divLive {
            width: calc(100% / 2);
            display: flex;
            flex-direction: column;
            background-color: #05291d;
            div {
                width: 100%;
                height: 25px;
                display: flex;
                background-color: black;
                justify-content: center;
                align-items: center;
            }
            article {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                background-color: cadetblue;
                gap: 8px;
                padding-right: 4px;
                padding-left: 4px;
                span {
                    &:hover {
                        cursor: pointer;
                        color: green;
                    }
                }
            }
            ul {
                list-style: none;
                font-size: 24px;
                padding: 0;
                overflow-y: auto;
                li {
                    padding: 8px;
                    border-bottom: 1px solid white;
                    white-space: pre-wrap;
                }
                li:hover {
                    cursor: pointer;
                    background-color: #309f00 !important;
                }
                li.active {
                    background-color: #309f00 !important;
                }
                li:nth-child(odd) {
                    background-color: #013e4b;
                }
                li:nth-child(even) {
                    background-color: #09687d;
                }
            }
        }
        .divLiveControls {
            width: calc(100% / 2);
            display: flex;
            flex-direction: column;
            background-color: #475055;
            border-left: 1px solid white;
            div {
                width: 100%;
                height: 25px;
                display: flex;
                background-color: black;
                justify-content: center;
                align-items: center;
            }
            .ulSongs {
                list-style: none;
                font-size: 24px;
                padding: 0;
                height: calc(100% - 25px - 50%);
                border-bottom: 1px solid white;
                overflow-y: auto;
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid white;
                }
                li p {
                    margin: 0;
                    flex-grow: 1;
                    &:hover {
                        cursor: pointer;
                    }
                }
                li p.active {
                    background-color: #ffee00;
                    color: black;
                }
                li span {
                    margin-left: 10x;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            article {
                height: 25px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding-right: 4px;
                padding-left: 4px;
                gap: 8px;
                background-color: cadetblue;
                span {
                    &:hover {
                        cursor: pointer;
                        color: green;
                    }
                }
            }
            .lyricsContainer {
                list-style: none;
                font-size: 24px;
                padding: 0;
                height: calc(100% - 25px - 50%);
                overflow-y: auto;
                li {
                    padding: 8px;
                    white-space: pre-wrap;
                }
                li:nth-child(odd) {
                    background-color: #3b3b3b;
                }
                li:nth-child(even) {
                    background-color: #797979;
                }
            }
        }
    }
}
.navWiFi {
    margin-top: auto;
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}
form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    color: white;
}
form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f5f7f9;
}
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    border-radius: 50%;
    animation: square 25s infinite;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}
.customMenu {
    position: absolute;
    background: $background_light;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    ul {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        li {
            padding: 8px 15px;
            cursor: pointer;
            &:hover {
                color: $dark;
                background: #f0f0f0;
            }
        }
    }
}
.donate-btn {
    background-color: #00c851;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 14px 32px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;
    position: absolute;
    left: 40px;
    bottom: 8px;
    z-index: 100;
    &:hover {
        background-color: #007e33;
        transform: scale(1.05);
        cursor: pointer;
    }
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0, 200, 81, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(0, 200, 81, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 200, 81, 0); }
}
@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}
