/* DARK THEME */
$background         : #000000;
$background_light   : #27292B;
$dark               : #1D1F21;
$bright             : #808184;
$main_color         : #323734;
$section_bg         : #2f4f4f;

$trans_white        : #fff3;
$trans_white_more   : #fff1;
$trans_black        : #0003;
$trans_black_more   : #0001;
$light_gray         : #666;
$search_border      : #00CED1;

$white              : #EEE;
$red                : #F06D65;
$green              : #59BEA0;
$blue               : #54C1E3;
$yellow             : #F3863D;
$purple             : #7C72DC;
$orange             : #F3863D;
$deep_sky_blue      : #00bfff;
$dodger_blue        : #1e90ff;
$medium_slate_blue  : #7b68ee;
$light_blue         : #add8e6;
$alice_blue         : #f0f8ff;
$aqua               : #00ffff;
$firebrick          : #B22222;

$highlight          : $blue;

$index_background   : #1f2029;
$index_secondary_color: #b2bbbd;
$index_primary_color: #3cc066;
$index_header_bg_color: #2c3e4c;

$remove_btn_bg      : #FF7f50;
$tr_bg              : #f1f2f6;
$th_border          : #e5e5e5;
$tr_child           : #f1f2f6;
$tr_th_border       : #e5e5e5;
$basic_bg           : #556cd6;
$premium_bg         : #ffcc00;
$btn_bg             : #ffeba7;

// Switch
$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;
$color-carrot: #e67e22;
