* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2b3039;
}
main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 2em;
    p {
        text-align: center;
        color: white;
    }
    #wifiStatus {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 15%;
        padding-right: 15%;
        #ssidContainer {
            display: flex;
            flex-direction: row;
        }
        #ipContainer {
            display: flex;
            flex-direction: row;
        }
    }
    #wifiList {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 15%;
        padding-right: 15%;
        label {
            color: white;
        }
        select {
            font-size: 1.2em;
        }
        aside {
            display: flex;
            flex-direction: row;
            input {
                width: 100%;
                font-size: 1.2em;
            }
            span {
                color: white;
                margin: 4px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    #wifiControls {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-left: 15%;
        padding-right: 15%;
    }
}
.btn {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    color: black;
    &:hover {
        background-color: #f5f7f9;
    }
}
.btn:hover {
    background-color: #f5f7f9;
}